---
import Layout from '@/layouts/Layout.astro'
import ListOfBooks from '@/components/book/ListOfBooks.astro'
---

<Layout title='Catálogo de la Auxiliar'>
	<div class='bodyIndex m-2 p-2 rounded-lg'>
		<ListOfBooks />
	</div>
</Layout>

<style>
	:global(.light) .bodyIndex {
		background-color: #fff;
		color: black;
	}
	.bodyIndex {
		width: 77%;
		margin: auto;
	}
</style>
