---
import Layout from '@/layouts/Layout.astro'
// import { SliderReact } from '@/components/SliderReact.jsx'
import { NosotrosCarruselReact } from '@/components/NosotrosCarruselReact.jsx'
import NosotrosCarrusel from '@/components/NosotrosCarrusel.astro'
---

<Layout title='Sobre nosotros'>
	<!--  -->
	<!--  -->
	<!-- //!: body=================================== -->

	<div class='bodyIndex rounded-lg flex h-full justify-center items-center'>
		<NosotrosCarruselReact client:load />
	</div>

	<!-- //!: body=================================== -->
	<!--  -->
	<!--  -->
</Layout>

<style>
	:global(.light) .bodyIndex {
		/* background-color: #bed2d3; */
		color: #333;
	}
</style>
