---
import Layout from '@/layouts/Layout.astro'
// import { SliderReact } from '@/components/SliderReact.jsx'
import { NosotrosCarruselReact } from '@/components/NosotrosCarruselReact.jsx'
import NosotrosCarrusel from '@/components/NosotrosCarrusel.astro'
---

<Layout title='Sobre nosotros'>
	<!--  -->
	<!--  -->
	<!-- //!: body=================================== -->

	<div
		class='bodyIndex bordeRojo p-2 rounded-lg flex flex-1 h-full justify-center items-center'
	>
		<NosotrosCarruselReact client:load />
	</div>

	<!-- //!: body=================================== -->
	<!--  -->
	<!--  -->
</Layout>

<style>
	:global(.light) .bodyIndex {
		background-color: #f5f5f5;
		color: black;
	}
</style>
