---
import { books } from '../../data/books.js'

const { video } = Astro.params
console.log({ video })
const bookData = books.find((b) => b.three === video)
if (!bookData) {
	return Astro.redirect('/404')
}

export function getStaticPaths() {
	return books.map((book) => ({
		params: {
			video: book.three,
		},
	}))
}
---

<div class='flex flex-1'>
	<video
		class='object-scale-down h-[700px]'
		src={bookData.video}
		autoplay
		loop
		muted
	></video>
</div>
