---
import Layout from '@/layouts/Layout.astro'
import { ContactoCarruselReact } from '@/components/ContactoCarruselReact.jsx'
import TextoAnimadoTelefono from '@/components/botones-sliders/TextoAnimadoTelefono.astro'
import Logo from '@/components/icons/LogoMaps.astro'
---

<Layout title='Contactos de la Auxiliar'>
	<div
		class='contacto rounded-lg flex flex-col h-full items-center p-2 bordeVerde overflow-y-hidden'
	>
		<div
			id='contactooo'
			class='flex flex-col items-center gap-8 w-[30%] sm:w-[80%] md:w-[80%] lg:w-[70%] xl:w-[50%]'
		>
			<h3 class='contacta'>Llámanos al teléfono:</h3>
			<span class=''>
				<TextoAnimadoTelefono />
			</span>
			<div class=''>
				<span class='contacta'>
					O contacta con el departamente que necesites o encuentranos en el
					mapa:
				</span>
			</div>
		</div>

		<a
			class='spin p-4'
			target='_blank'
			href='https://maps.app.goo.gl/QZcyPLooNu41XfmS6'
		>
			<Logo
				style='width:111px'
				fill='fill:rgb(255,0,0)'
			/>
		</a>
		<ContactoCarruselReact client:load />
	</div>
</Layout>

<style>
	/* .contacto {
		background-color: #202020;
	}
	:global(.light) .contacto {
		background-color: #fff;
	} */
	:global(.light) .contacta {
		color: var(--auxi2);
	}
	a {
		scroll-behavior: smooth;
	}
	html {
		scroll-behavior: smooth;
	}
	:global(html) {
		scroll-behavior: smooth;
	}
	@keyframes spin {
		0% {
			transform: rotateY(0deg);
		}
		100% {
			transform: rotateY(1turn);
		}
	}

	.spin {
		animation: spin 6s linear infinite;
	}
</style>
