---
import Layout from '@/layouts/Layout.astro'
import { ContactoCarruselReact } from '@/components/ContactoCarruselReact.jsx'
import TextoAnimadoTelefono from '@/components/botones-sliders/TextoAnimadoTelefono.astro'
---

<Layout title='Contactos de la Auxiliar'>
	<div
		class='con rounded-lg m-auto w-full flex flex-col justify-center items-center p-2'
	>
		<div
			id='contactooo'
			class='flex flex-col justify-center items-center h-full gap-8 w-[30%] sm:w-[80%] md:w-[80%] lg:w-[70%] xl:w-[50%]'
		>
			<h3 class='contacta'>Llámanos al teléfono:</h3>
			<span class=''>
				<TextoAnimadoTelefono />
			</span>
			<div class=''>
				<span class='contacta'>
					O contacta con el departamente que necesites o encuentranos en el
					mapa:
				</span>
			</div>
			<div
				class='grid grid-cols-1 m-auto md:grid-cols-2 md:gap-4 lg:grid-cols-3 lg:gap-10'
			>
			</div>
		</div>
		<ContactoCarruselReact client:load />
	</div>
</Layout>

<style>
	.con {
		background-color: #202020;
	}
	:global(.light) .con {
		background-color: #fff;
	}
	:global(.light) .contacta {
		color: var(--auxi2);
	}
	a {
		scroll-behavior: smooth;
	}
	html {
		scroll-behavior: smooth;
	}
	:global(html) {
		scroll-behavior: smooth;
	}
</style>
