---
import ToggleTheme from '@/components/ToggleTheme.astro'
import TextoAnimadoTelefono from '@/components/botones-sliders/TextoAnimadoTelefono.astro'
---

<div class='divToggleTheme flex flex-row rounded-lg'>
	<p
		class='divSinNombre flex flex-1 justify-center items-center mr-4 text-[var(--auxi1)] lg:text-[2rem] 2xl:text-[3rem] [700px]:text-[1.5rem]'
	>
		Auxiliar Manipuladora del Cartón
	</p>
	<!-- <div class='pr-4'>
		<ToggleTheme />
	</div> -->
</div>

<style>
	:global(.light) .divToggleTheme {
	}
	.divSinNombre {
		font-family: ErasITC;
		font-size: 1.5rem;
		text-wrap: nowrap;
	}

	:global(.light) .auxi {
		color: var(--auxi2);
	}
</style>
