---
import MenuReact from '@/components/menuReact.jsx'
import BodyAsideMenuReact from '@/components/BodyAsideMenuReact.jsx'
import Logo from '@/components/icons/LogoAuxCompleto.astro'

import BodyAsideMenu from '@/components/BodyAsideMenu.astro'

const menu = [
	{
		title: 'Inicio',
		icon: 'home',
		link: '/',
	},
	{
		title: 'Nosotros',
		icon: 'us',
		link: '/nosotros',
	},
	{
		title: 'Servicios',
		icon: 'services',
		link: '/servicios',
	},
	{
		title: 'Contacto',
		icon: 'contact',
		link: '/contacto',
	},
	{
		title: 'Catálogo',
		icon: 'catalogo',
		link: '/catalogo',
	},
]
---

<div class='asideMenu2 bordeRojo rounded-lg h-full flex flex-col'>
	<!--  -->
	<!--  -->
	<!-- //!!LOGO DEL ASIDE============ -->
	<div class='p-4 logo-animation2 flex justify-center bordeVerde m-2'>
		<Logo />
	</div>
	<!-- //!!LOGO===================== -->
	<!--  -->
	<!--  -->
	<div class='bordeVerde m-2 flex flex-col flex-1'>
		<!-- !!BOTONES DE MENU================ -->
		<div class='p-2 flex flex-col'>
			<MenuReact
				client:load
				transition:name='menu-react'
				transition:persist
			/>
		</div>
		<!-- !!BOTONES DE MENU================ -->
		<!--  -->
		<!--  -->
		<div class='flex flex-col flex-1'>
			<!-- <BodyAsideMenuReact
				client:load
				transition:name='dav'
				transition:persist
			/> -->
			<video
				autoplay
				muted
				loop
			>
				<source
					src='/videos/montajes/videoEstuche1botella.webm'
					type='video/webm'
				/>
				<source
					src='/videos/montajes/videoEstuche1botella.mp4'
					type='video/mp4'
				/>
			</video>
			<video
				autoplay
				muted
				loop
			>
				<source
					src='/videos/montajes/videoCazoletas2.webm'
					type='video/webm'
				/>
				<source
					src='/videos/montajes/videoCazoletas2.mp4'
					type='video/mp4'
				/>
			</video>
			<video
				autoplay
				muted
				loop
			>
				<source
					src='/videos/montajes/videoDecoracion.webm'
					type='video/webm'
				/>
				<source
					src='/videos/montajes/videoDecoracion.mp4'
					type='video/mp4'
				/>
			</video>
		</div>
	</div>
</div>

<style>
	:global(.light) .asideMenu2 {
		background: #f0f0f0;
		color: #202020;
	}
	.asideMenu2 {
		background: #202020;
	}
	@keyframes logoFadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	.logo-animation2 {
		animation: logoFadeIn 1.5s ease-in-out;
	}
</style>
