---
import MenuReact from '@/components/menuReact.jsx'
import Logo from '@/components/icons/LogoAuxCompleto.astro'
---

<div class='asideMenu2 bg-[#222] rounded-lg flex flex-col'>
	<!-- //!!LOGO DEL ASIDE============ -->
	<div class='p-4 flex justify-center m-2 logo-animation2'>
		<Logo />
	</div>
	<!-- !!BOTONES DE MENU================ -->
	<div class='m-2 flex flex-col'>
		<MenuReact
			client:load
			transition:name='menu-react'
			transition:persist
		/>
	</div>
</div>

<style>
	:global(.light) .asideMenu2 {
		background: #f0f0f0;
		color: #202020;
	}

	@keyframes logoFadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	.logo-animation2 {
		animation: logoFadeIn 1.5s ease-in-out;
	}
</style>
