---
import Modal from '@/components/footer/footer-old/Modal.astro'
---

<div
	class='px-24 divFooter flex justify-center items-center h-full w-full bg-zinc-900 overflow-y-auto'
>
	<p>
		Auxiliar Manipuladora del Cartón es una empresa del sector del embalaje que
		se dedica a la fabricación de cajas, estuches, bandejas..., así como a una
		variada gama de artículos. Te animamos a darte una vuelta por nuestra web y
		descubrir todo lo que podemos hacer para tí.
	</p>
</div>
<style>
	:global(.light) .divFooter {
		background-color: #fff;
		color: #000;
	}
</style>
