---
import Modal from '@/components/footer/footer-old/Modal.astro'
---

<div
	class='divFooter flex justify-center items-center p-2 h-full w-full rounded-lg bg-zinc-900 overflow-y-auto'
>
	<p>
		Auxiliar Manipuladora del Cartón es un empresa familiar compuesta por un
		grupo de personas que se dedican a la fabricación de cajas de cartón
		corrugado, con una experiencia de más de 28 años en el sector.
	</p>
</div>
<style>
	:global(.light) .divFooter {
		background-color: #f0f0f0;
		color: #000;
	}
</style>
