---
import Layout from '@/layouts/Layout.astro'
import SeccionVideos from '@/components/secciones/SeccionVideos.astro'
---

<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
			anchor.addEventListener('click', function (e) {
				e.preventDefault()

				document.querySelector(this.getAttribute('href')).scrollIntoView({
					behavior: 'smooth',
				})
			})
		})
	})
</script>
<Layout title='Servicios de la Auxiliar'>
	<div
		id='botonera'
		class='mb-8'
	>
		<a
			class='opts'
			href='#impresora'
		>
			Impresión</a
		>
		<a
			class='opts'
			href='#troqueladora'
		>
			Troquelado</a
		>
		<a
			class='opts'
			href='#pegadora'
		>
			Pegado</a
		>
		<a
			class='opts'
			href='#ploter'
		>
			Corte-Digital</a
		>
	</div>

	<div class='flex flex-col justify-center items-center'>
		<div
			id='impresora'
			class='vid w-[66%] flex flex-row items-center mb-4 relative'
		>
			<video
				autoplay
				loop
				muted
				class='w-full aspect-square object-cover flex flex-col justify-center items-center rounded-lg m-2'
			>
				<source src='/videos/videosServicios/videoImpresora2.webm' />
			</video>
			<span
				class='flex justify-center shadow-lg w-[55%] bg-white bg-opacity-80 rounded-lg p-4 absolute top-8 left-6 z-10'
			>
				Impresión flexográfica de 3 colores...
			</span>
		</div>
		<div
			id='troqueladora'
			class='vid w-[66%] flex flex-row items-center mb-4 relative'
		>
			<video
				autoplay
				loop
				muted
				class='w-full aspect-square object-cover flex flex-col justify-center items-center rounded-lg m-2'
			>
				<source src='/videos/videosServicios/video-editado-troqueladora.webm' />
			</video>
			<span
				class='flex justify-center shadow-lg w-[55%] bg-white bg-opacity-80 rounded-lg p-4 absolute top-8 left-6 z-10'
			>
				Troqueladora plana...
			</span>
		</div>
	</div>
</Layout>

<style>
	.opts {
		margin-left: 2rem;
	}
	:global(.light) .opts {
	}
	html {
		scroll-behavior: smooth;
	}
	.vid {
		margin-bottom: 2rem;
	}
</style>
